
.field-wrappper {
    display: flex;
    align-items: center;
    width: inherit;
    height: 28px;
    border-radius: 2px;
    border: 1px solid var(--grey-mid);
    overflow: hidden;

    &:hover, &:focus-within {
        border-color: var(--grey-dark);
        box-shadow: var(--box-shadow);
    }

    app-input-field {
        flex: 1 1 auto;
    }

    .dropdown-icon {
        height: 100%;
        width: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: var(--grey-mid);

        &:hover {
            background-color: var(--grey-dark);
        }
    }

}